# Git
.git
.gitignore

# IDE
**/.idea
**/.vscode
**/*.iml
**/*.ipr
**/*.iws

# Build outputs
**/target/
**/dist/
**/node_modules/

# Logs
**/*.log

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
!pom.xml
